#Secrets
secrets/
.env

#Python
__pycache__/
*.pyc
.venv/

# Jenkins local data (if ever bind-mounted)
jenkins_home/

# OS junk
.DS_Store
Thumbs.db

# AWS CLI installer
aws/
awsinstall.zip
terraform.zip

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/override.tf
terraform/override.tf.json
*.swp
